# Environnements virtuels Python
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc

# Dataset (trop volumineux pour Git)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep


# Fichiers système
.DS_Store
Thumbs.db

# Environnement VS Code (optionnel)
.vscode/